

.container {
	width: 94%;
	margin: 0 auto;
	
}

.contenedor_principal{
    margin-top: 20px;
	margin-bottom: 20px;
}

.subtitulo{
    font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
	text-align: center;
}


.cont_postres{
	
    list-style: none;
    height: 100px;
	background-color: #FFF;
	text-align: center;
	margin: 1%;
	transition: .3s;
	box-shadow: 2px 2px 2px #CCC;
	position: relative;
}

.cont_postres a{
	
    text-decoration: none;
	color: #000;
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.cont_postres:hover{
    box-shadow: 4px 4px 4px #CCC;
}

.cont_postres a::before{
    content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}
/*tarta*/
.cont_postres:nth-child(1) a:before{
	background: url(../img/tarta_adobe_express.svg) no-repeat;
}

/*porciones*/
.cont_postres:nth-child(2) a:before{
	background: url(../img/porcion.png) no-repeat;
}

/*pasteles*/
.cont_postres:nth-child(3) a:before{
	background: url(../img/pastel.png) no-repeat;
}

/*Alfajores*/
.cont_postres:nth-child(4) a:before{
	background: url(../img/alfajor\ nuevo.png)no-repeat;
}
/*Chocotejas*/
.cont_postres:nth-child(5) a:before{
	background: url(../img/chocoteja.png) no-repeat;
}

/*Galleta*/
.cont_postres:nth-child(6) a::before{
    background: url(../img/galletas.svg);
}

    


@media(min-width: 769px) {


    
	.container {
		width: 85%;	
	}

	.subtitulo {
		text-align: left;
	}

    .cont_postres:nth-child(3n) {
        margin-right: 0;
    }

    .cont_postres:nth-child(3n+1) {
        margin-left: 0;
    }

}


@media(min-width: 1000px) {
	.cont_postres {
		margin: 1.333%;
	}

	.cont_postres:nth-child(3n) {
		margin-right: 1.33%;
	}

	.cont_postres:nth-child(3n+1) {
		margin-left: 1.333%;
	}

	.cont_postres:nth-child(4n) {
		margin-right: 0;
	}

	.cont_postres:nth-child(4n+1) {
		margin-left: 0;
	}
}
